<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>

    <!-- Link the CSS file -->
    <link rel="stylesheet" href="/css/searchResultsStyle.css" />
  </head>
  <body>
    <h1>Search Results for "{{searchTerm}}"</h1>
    <input type="hidden" id="watchlistId" value="{{watchlistId}}" />
    <input type="hidden" id="watchlistName" value="{{watchlistName}}" />

    {{#if movies.length}}
      <div class="movies-list">
        {{#each movies}}
          <div class="movie-item">
            <div class="movie-poster">
              {{#if this.poster_path}}
                <img
                  src="https://image.tmdb.org/t/p/w200{{this.poster_path}}"
                  alt="{{this.title}} Poster"
                />
              {{else}}
                <img src="/images/placeholder.png" alt="No Poster Available" />
              {{/if}}
            </div>
            <div class="movie-info">
              <h2>{{this.title}}</h2>
              <p class="movie-overview">{{this.overview}}</p>
              <p class="movie-release-date">Release Date:
                {{this.release_date}}</p>
              <p class="movie-release-date">ID: {{this.id}}</p>
              <td>
                <button
                  class="add"
                  data-id="{{this.id}}"
                  onclick="addMovieToWatchlist('{{this.id}}')"
                >+</button>
              </td>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="no-results">No movies found with that title.</p>
    {{/if}}

    <script src="/js/watchlistScript.js"></script>
  </body>
</html>